RewriteEngine On 

# https://manage.bigrock.in/kb/answer/2007
RewriteCond %{HTTPS} off 
RewriteRule (.*) https://wahegurulive.com%{REQUEST_URI}

# https://stackoverflow.com/a/41770541

RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^ http://%1%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTPS} on
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^ https://%1%{REQUEST_URI} [R=301,L]

# https://stackoverflow.com/a/38437502
ErrorDocument 500 /404.html
ErrorDocument 401 /404.html
ErrorDocument 403 /404.html
ErrorDocument 404 /404.html


# DISABLE CACHING
# https://www.a2hosting.in/kb/developer-corner/apache-web-server/turning-off-caching-using-htaccess
# https://www.siteground.com/kb/disable-dynamic-caching-website/
<IfModule mod_headers.c>
  <FilesMatch ".(js|css|xml|html|ico)$">
    Header set Cache-Control "private"
  </FilesMatch>
</IfModule>
