RewriteEngine On 

RewriteCond %{HTTPS} off 
RewriteRule (.*) https://wahegurulive.com%{REQUEST_URI}

ErrorDocument 500 /404.html
ErrorDocument 401 /404.html
ErrorDocument 403 /404.html
ErrorDocument 404 /404.html


# DISABLE CACHING
# https://www.a2hosting.in/kb/developer-corner/apache-web-server/turning-off-caching-using-htaccess
# https://www.siteground.com/kb/disable-dynamic-caching-website/
<IfModule mod_headers.c>
  <FilesMatch ".(js|css|xml|html)$">
    Header set Cache-Control "private"
  </FilesMatch>
</IfModule>
